
<div class="card-list-container">
    <%# Image container  %>
    <div class="card-image" style="background-image: url('<%=selection.activity.image_url%>');">
    </div>

    <%# Card info  %>
    <div class = "card-info-container">

      <%# Adding padding to the text  %>
      <div class="card-text-container">
        <div class= "card-list-left">
          <div>
            <h2><%=selection.activity.name%></h2>
            <p> <%=selection.activity.description%> </p>
          </div>
          <div>
            <p><i class="fas fa-building" style="color: #484848"></i> <%=selection.activity.address%></p>
          </div>
        </div>
      </div>
    </div>

</div>
