var card = document.querySelector('#selection-<%= @selection.id %>');
var newcard = `
<div data-id="selection-<%=@counter%>" class="card-cell card-itinerary add-icon" style="background-color: white; border: 2px dotted #ECBE46 ">
   <p> <%= link_to '', selections_path({time_of_day: @day[1],day: @day[0], itinerary: @itinerary }), method: :post, class:"fas fa-plus-circle fa-2x text-decor-none" %></p>
</div>
`;

card.innerHTML = newcard;
card.style.backgroundImage = '';
