<div class = "banner-dash">
  <h2>Banner Top</h2>
</div>


<div>
  <ul>
    <li>Monday</li>
    <li>Tuesday</li>
    <li>Wednesday</li>
    <li>Thursday</li>
    <li>Friday</li>
    <li>Saturday</li>
    <li>Sunday</li>
  </ul>
</div>

<%= @activities.each |activity| do %>
  <p><%= activity  %></p>
<%end  %>

<div class = "card-zone">
    <%#Individual cards morning  %>
    <div data-id="selection-1" class="card-cell card-itinerary">
      <p>Name1</p>
      <p>Address</p>
    </div>
    <div data-id="selection-2" class="card-cell card-itinerary">
      <p>Name2</p>
      <p>Address</p>
    </div>
    <div data-id="selection-3"  class="card-cell card-itinerary">
      <p>Name3</p>
      <p>Address</p>
    </div>
    <div data-id="selection-4" class="card-cell card-itinerary">
      <p>Name4</p>
      <p>Address</p>
    </div>
    <div data-id="selection-5" class="card-cell card-itinerary">
      <p>Name5</p>
      <p>Address</p>
    </div>
    <div data-id="selection-6" class="card-cell card-itinerary">
      <p>Name6</p>
      <p>Address</p>
    </div>
    <div data-id="selection-7" class="card-cell card-itinerary">
      <p>Name7</p>
      <p>Address</p>
    </div>

    <%#Individual cards afternoon %>
    <div data-id="selection-8"  class="card-cell card-itinerary">
      <p>Name</p>
      <p>Address</p>
    </div>
    <div data-id="selection-9"  class="card-cell card-itinerary">
      <p>Name</p>
      <p>Address</p>
    </div>
    <div data-id="selection-10" class="card-cell card-itinerary">
      <p>Name</p>
      <p>Address</p>
    </div>
    <div data-id="selection-11" class="card-cell card-itinerary">
      <p>Name</p>
      <p>Address</p>
    </div>
    <div data-id="selection-12" class="card-cell card-itinerary">
      <p>Name</p>
      <p>Address</p>
    </div>
    <div data-id="selection-13" class="card-cell card-itinerary">
      <p>Name</p>
      <p>Address</p>
    </div>
    <div data-id="selection-14" class="card-cell card-itinerary">
      <p>Name</p>
      <p>Address</p>
    </div>

    <%#Individual cards Evening %>
    <div data-id="selection-15" class="card-cell card-itinerary">
      <p>Name</p>
      <p>Address</p>
    </div>
    <div data-id="selection-16" class="card-cell card-itinerary">
      <p>Name</p>
      <p>Address</p>
    </div>
    <div data-id="selection-17" class="card-cell card-itinerary">
      <p>Name</p>
      <p>Address</p>
    </div>
    <div data-id="selection-18" class="card-cell card-itinerary">
      <p>Name</p>
      <p>Address</p>
    </div>
    <div data-id="selection-19" class="card-cell card-itinerary">
      <p>Name</p>
      <p>Address</p>
    </div>
    <div data-id="selection-20" class="card-cell card-itinerary">
      <p>Name</p>
      <p>Address</p>
    </div>
    <div data-id="selection-21" class="card-cell card-itinerary">
      <p>Name</p>
      <p>Address</p>
    </div>
</div>



<div class = "map-border">
  <h2>Map</h2>
</div>
