// home-banner
.banner-home {
  border-bottom: 1px solid gray;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://res.cloudinary.com/dkpy2yoeq/image/upload/v1584056311/canary_form_eyehza.png');
  background-size: cover;
  background-position: 0px -80px;
  height: 100vh;
}

.banner-dashboard{
  background: #2CCAAE;
}

.banner-center{
  text-align: center;
}
