// home-banner
.banner-home {
  border-bottom: 1px solid gray;
  background-image: url('https://cdn.dribbble.com/users/63407/screenshots/10165398/media/682f1869af36e7dbccf58cae344df207.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.banner-dashboard{
  background: #2CCAAE;
}

.banner-center{
  text-align: center;
}
