.card-itinerary{

  height: 100px;
  background-size: cover;
  background-position: center;
  border: 1px solid gray;
}
//this class created a layer on the card image-@habib
.image-box {
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.2ß);
  display: flex;
  justify-content: space-between;
}
// this class is to format the text in the card-@habib
.card-inner-text {
  font-weight: 500;
  color:#fcf8e8;
}
.card-icons {
  display: flex;
    p {
      margin-right: 5px;
    }
    span {
      margin-right: 1px;
    }
}
.fas{
  color: #ECBE46;
}
.fa-plus-circle:hover{
    color: #28B69C !important;
}

.add-icon {
  display: flex;
  justify-content: center;
  p{
    margin: auto 0;
  }
}
.card-cell{
  position: relative;


}
.card-itinerary{

}

.card-zone{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-row: repeat(3, 1fr);

}

.card-none {
    display: none;
}

.card-cell:hover{
  .card-none{
    display:block;
  }
}

.text-decor-none:hover{
  text-decoration: none;
  color: white;
}

.card-image{
  height: 200px;
  background-size: cover;
  background-position: center;
  color:#28B69C;
}

// .card-cell:hover  .card-none {
//     display: block;
// }

// .card-background{
//   height: 100px;
//   width: 150px;
// }
