.card-itinerary{

  height: 100px;
  background-size: cover;
  background-position: center;
  border: 1px solid gray;
}

.card-cell{
  position: relative;
}

.card-zone{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-row: repeat(3, 1fr);
}

.card-cell:hover{
  background: rgba(0 ,0 ,0, 0.8);
}


// .card-background{
//   height: 100px;
//   width: 150px;
// }
