.card-itinerary{

  height: 100px;
  background-size: cover;
  background-position: center;
  border: 1px solid gray;
}
//this class created a layer on the card image-@habib
.image-box {
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.2ß);
  display: flex;
  justify-content: space-between;
}
// this class is to format the text in the card-@habib
.card-inner-text {
  font-weight: 700;
  color:#fcf8e8;
}
.card-icons {
  display: flex;
    p {
      margin-right: 5px;
    }
    span {
      margin-right: 1px;
    }
}
.fas{
  color: #28B69C;
}
.fa-plus-circle:hover{
    color: #28B69C !important;
}

.add-icon {
  display: flex;
  justify-content: center;
  p{
    margin: auto 0;
  }
}
.card-cell{
  position: relative;


}
.cards-itinerary-container {
  justify-content: flex-end;
  // Add margin
  margin: 0 151px;
}

.card-zone{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-row: repeat(3, 1fr);

}

.card-none {
    display: none;
}

.card-cell:hover{
  .card-none{
    display:block;
  }
}

.text-decor-none:hover{
  text-decoration: none;
  color: white;
}

.card-image{
  height: 200px;
  background-size: cover;
  background-position: center;
  color:#28B69C;
}


// list view add time beside cards
.container__content {
  display: flex;
  justify-content: space-between;
  // define the width of the card
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

//
.list-container {
  margin-top: 100px;
}
.time__info {
  display: flex;
  align-items: center;
  position: relative;

  .line {
    position: absolute;
    height: 793px;
    width: 2px;
    background-color: #9AA8A0;
    z-index: -1;
    left: 34px;
  }
}

.list__icon {
  height: 68px;
  width: 68px;
  border-radius: 50%;
  color: #F4BC19;
  border: 2px solid #F4BC19;
  font-size: 15px;
  display: flex;
  text-align: center;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  background-color: #F4F4F4;
}

// .list__icon:after {
//   content: "";
//   background-color: #9AA8A0;
//   position: absolute;
//   width: 3px;
//   height: 1000vh;
//   top: 214px;
//   display: block;
//   position: absolute;
//   z-index: -1;

// }


.cards__date {
  text-align: center;
  margin: 10px 10px 10px 50px;
}

.cards__date-title {
  position: relative;

  p {
    position: absolute;
    background-color: #F4F4F4;
    padding: 10px 25px;
    top: -20px;
    left: 450px;
    color: #9AA8A0;
  }

  hr {
    margin: 0px 20px;
    margin: 0px 69px 0px 154px;

  }
}

.inner {
  outline-bottom: 5px solid green;
}

.list__icon__day {
  height: 68px;
  width: 68px;
  border-radius: 50%;
  color: #F4BC19;
  border: 2px solid #F4BC19;
  font-size: 15px;
  display: flex;
  text-align: center;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  background-color: #F4F4F4;
}
.calendar-map{
  margin-left: 40px;
  transition: margin-left 0.5s ease;

}
.toggled .calendar-map {
    margin-left: 0px;
}
.calendar{
  border: 5px solid red;
}

///////////// week-container__date ///////////////

.week__date {
  color: #808080;
  font-weight: bold;
  text-align: center;
}

.card-list-right{
  display: grid;
  grid-template-rows: 50% 50%;
}






// .card-cell:hover  .card-none {
//     display: block;
// }

// .card-background{
//   height: 100px;
//   width: 150px;
// }
