.card-container{
  // width: 90%;
  // margin: auto;
  padding-bottom: 10px;
}

.card-list-container{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // width: 700px;
  margin: 40px 80px;
}


.dashboard-container{
  display: grid;
  grid-template-columns: 12% 87%;
}

.list-container{
  display: grid;
  grid-template-columns: 12% 88%;
}

.week-container{
  margin-top: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card-text-container{
  padding: 20px;
}
