.card-container{
  // width: 90%;
  // margin: auto;
  padding-bottom: 10px;
}

.card-list-container{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // width: 700px;
  width: 75%;
  margin: 40px 80px;
}

.week-container{
  margin-top: 12px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card-text-container{
  padding: 10px;
  color: #484848;
  h2 {
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
  }
  p {
    font-family: "Roboto", sans-serif;
  }
}


.top-half-dash-container{
  display: grid;
  grid-template-columns: 8% auto;
  margin-right: 80px;
  padding-bottom: 6px;
}

.day-container{
  padding-left:60px;
  display: grid;
  grid-template-rows: 25% 29% 26% 20% ;
}

.card-info-container{
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 10%;
}


