// container of the form
.container_form {
  background-color: white;
  width: 34%;
  padding-top: 10px;
  border-radius: 2px;
  font-size: 15px;
  color: #484848;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  margin-top: 13px;
}

// container input
.form__input {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

// 2 first input city/country
.destination {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

// calendar input
.input__flatpickr {
  font-size: 10px;
  border-radius: 2px;
  background-color: white;
}


// container of all checkboxes
.category__interests {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;

}

// for each checkboxes interest
.category__interest {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category__interest {
  background: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: rgb(44,202,174);
  }
}
