.sidebar-bg{
  background: gray;
  color: white;
  margin-right: 5px;
}

.sidebar-liststyle{
  list-style-type: none;
  padding: 0;
}

.sidebar-liststyle a{
  color: white;
  text-decoration: none;

  &:hover{
    color: black;
  }
}
.sidebox{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

}
.fas{
  margin: 5px;


// Makes Sidebar 100% of view height and sticky
.sidebar-sticky{
  position: sticky;
  top: 0;
  height: 100vh;

}
