.title__form {
  text-align: center;
  padding-top: 10px;
}

.title {
  display:flex;
  flex-direction: column;
  // padding-left: 35%;
  h3{
    text-align: center;
  }
  h4{
    text-align: center;
  }
}
#slogan {
  // font-style: italic;
}

.title__checkboxes {
  text-align: center;
}

.title__list {
  font-family: "Montserrat", sans-serif;
  color: #484848;
  text-align: center;
}

.list__header {
  margin-left: 237px;
}
